@{
    ViewData["Title"] = "Tela de Usuário";
}

<div id="div-main-usuario">
    <div id="div-top-usuario">
        <div>
            <h1>Gerenciamento de usuários</h1>
            <p>Adicione, edite e gerencie as permissões dos usuários do sistema.</p>
        </div>

        <a asp-area="Usuario" asp-controller="Usuario" asp-action="Create" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
            Adicionar Novo Usuário
        </a>
    </div>

</div>
