<nav class="sidebar">
    <h1>Painel de Controle</h1>
    <ul class="ul-side-menu">
        <li class="nav-item">
            <i class="fa-solid fa-solar-panel"></i>
            <a class="nav-link" asp-area="Dashboard" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </li>
        <li class="nav-item">
            <i class="fa-solid fa-cart-shopping"></i>
            <a class="nav-link" asp-area="Pedido" asp-controller="Pedido" asp-action="Index">Pedidos</a>
        </li>
        <li class="nav-item">
            <i class="fa-solid fa-box"></i>
            <a class="nav-link" asp-area="Produto" asp-controller="Produto" asp-action="Index">Produtos</a>
        </li>
        <li class="nav-item">
            <i class="fa-solid fa-users"></i>
            <a class="nav-link" asp-area="Usuario" asp-controller="Usuario" asp-action="Index">Usuários</a>
        </li>
        <li class="nav-item">
            <i class="fa-solid fa-gear"></i>
            <a class="nav-link" asp-area="Configuracao" asp-controller="Configuracao" asp-action="Index">Configurações</a>
        </li>
    </ul>
</nav>
