<nav class="sidebar">
    <h1>Painel de Controle</h1>
    <ul class="ul-side-menu">
        <li class="nav-item">
            <a class="nav-link" asp-area="Dashboard" asp-controller="Dashboard" asp-action="Index">
                <i class="fa-solid fa-solar-panel"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Pedido" asp-controller="Pedido" asp-action="Index">
                <i class="fa-solid fa-cart-shopping"></i>
                Pedidos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Produto" asp-controller="Produto" asp-action="Index">
                <i class="fa-solid fa-box"></i>
                Produtos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Usuario" asp-controller="Usuario" asp-action="Index">
                <i class="fa-solid fa-users"></i>
                Usuários
            </a>
        </li>
        <li class="nav-item">

            <a class="nav-link" asp-area="Configuracao" asp-controller="Configuracao" asp-action="Index">
                <i class="fa-solid fa-gear"></i>
                Configurações
            </a>
        </li>
    </ul>
</nav>
