@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    font-family: "Material", sans-serif;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-color: #e1dfdf;
}

footer {
    background-color: white;
}

main {
    padding: 40px;
    width: 100%;
}

.main-container {
    display: flex;
}

.ul-side-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

    .ul-side-menu li {
        text-decoration: none;
    }

        .ul-side-menu li a {
            color: #373636;
        }

            .ul-side-menu li a i {
                text-align: center;
                margin-right: 10px;
                width: 20px;
            }


.sidebar {
    background-color: white;
    width: 280px;
    min-height: 100vh;
}

    .sidebar h1 {
        text-align: center;
        font-size: 30px;
        color: gray;
        padding: 20px 0px;
    }


/*DIV USUARIO*/

#div-top-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #div-top-usuario h1 {
        font-weight: bold;
    }

    #div-top-usuario p {
        font-size: 18px;
        font-weight: bold;
        color: dimgrey;
    }

#div-search-usuario {
    width: 100%;
}

    #div-search-usuario input {
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        padding-top:20px;
        padding-bottom:20px;
    }

    #div-search-usuario input:focus {
        border-color: #8080807c;
        outline: none;
    }
